.about-container{
  border-bottom: 4px solid var(--color-text);
  background-color: var(--color-grey);
  background-image: url("/src/Assets/Dots\ 8px.png");
  padding: 8vw;
  z-index: -2;
}
.about-window{
  width: 80%;
  margin: auto;
  background-color: var(--color-bg);
  border-radius: var(--border-radius);
  border: 4px solid var(--color-text);
}

.about-content{
  margin: 3rem;
}

.about-content h1{
  font-size: 4rem;
} 

.about-content h2{
  font-size: 2rem;
  margin-top: 4rem;
  position: relative;
  z-index: 2;
}

.about-content h2::before {
  position: absolute;
  content: " ";
  background-color: var(--color-red);
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
  left: -2%;
  bottom: 0;
  opacity: .7;
  z-index: -1;
}

.about-content p{
  font-size: 1.2rem;
  margin: 1rem 0;
  line-height: 1.5rem;
  letter-spacing: .05rem;
  word-spacing: .1rem;
}

@media (max-width:35em){
  .about-content{
    margin: 1.8rem;
    overflow-wrap: break-word;
  }
  .about-window{
    width: 90%;
  }
}