.post-wrapper{
    margin: 20px auto;
    width: 65%;
}
.post-info{
    margin: 2em 0;
}
.post-info span:first-child{
    display: block;
    font-weight: 600;
    font-size: 2.2em;
    line-height: 1.2em;
    color: var(--color-red);
    letter-spacing: .08em;
    word-spacing: .1em;

}
.post-info span{
    color: var(--color-grey);
    margin-right: 1em;
}
.post-content{
    display: flex;
}

@media (max-width:70em){
    .post-wrapper{
        width: 80%;
    }
    .post-content{
        flex-direction: column-reverse;
    }
}