.post-wrapper{
    margin: 20px auto;
    width: 65%;
}
.post-info{
    margin: 2em 0;
}
.post-info span:first-child{
    display: block;
    font-weight: 600;
    font-size: 2.2em;
    line-height: 1.2em;
    color: var(--color-text);
    letter-spacing: .08em;
    word-spacing: .1em;

}
.post-info span{
    color: var(--color-text);
    margin-right: .5rem;
    position: relative;
    top: .1rem;
}
.post-content{
    display: flex;
}

.post-content h1 {
    position: relative;
    z-index: 2;
}

.post-content h1::after {
    position: absolute;
    content: " ";
    background-color: var(--color-red);
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    left: -2%;
    bottom: 0;
    opacity: .7;
    z-index: -1;
}

@media (max-width:70em){
    .post-wrapper{
        width: 80%;
    }
    .post-content{
        flex-direction: column-reverse;
    }
}