.currenttime {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.currenttime p:nth-child(1){
    font-size: 2em;
    flex: 2;
    padding: auto;
}
.currenttime p {
    font-size: 1em;
}
.currenttime:hover {
    transform: none;
    box-shadow: 2px 2px 5px grey;
    cursor: auto;
}