.home-quote{
    font-family: 'Reenie Beanie', cursive;
    width:100%;
    margin: auto;
    padding: 100px 0;
    text-align: right;
    /* background-color: var(--color-red); */
    border-bottom: solid 1px;
}
.home-quote span{
    font-size: 40px;
    font-weight: 600;
    /* color: white; */
    background: -webkit-linear-gradient(60deg,var(--color-text), var(--color-red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    width: 85%;
}