.home-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 3em auto;
    width: 80%;
}

.home-left {
    font-size: 3em;
    color: var(--color-grey);
    letter-spacing: .8vw;
    /* min-width: 30rem; */
    align-self: center;
}

.home-slogan::first-letter{
    font-size: 1.2em;
    color: black;
    padding-right: .2em;
}

#title {
    letter-spacing: 2.5vw;
    color: black;
}

.icon-list {
    margin: 2em 0;
    font-size: .5em;
}
.icon-list a {
    padding-right: 2em;
}

.home-right {
    display: flex;
    justify-content:right;
    flex-wrap: wrap;
    flex-direction: column;
}

.home-right section:nth-child(1){
    display: flex;
    flex-wrap: wrap;
}

.homebox-wrapper{   
    min-height: 12em;
    min-width: 12em;
    max-width: 28em;
    border: solid 3px black;
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;

    margin: 2em;
    padding: 1em;

}

