.home-wrapper{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: stretch; */
    /* justify-items: stretch; */
    /* align-items: stretch; */
}

.home-intro{
    background-color: var(--color-bg);
    border-bottom: 4px solid var(--color-text);
}
.home-intro span{
    font-family: 'Bungee Outline', cursive;
    font-size: 60px; 
    font-weight: 600;
     letter-spacing: 2px;
    text-align: right;
    display: block;
    margin-right: 2rem;
    padding-top: 2rem;
} 

.quick-links-wrapper{
    list-style: none;
    border-top: 4px solid var(--color-text);
    border-bottom: 4px solid var(--color-text);
    border-left: 4px solid var(--color-text);
    width: 50%;
    margin: auto;
    position: relative;
    bottom: -1rem;
    background-color: var(--color-grey);
}
.quick-links-wrapper li{
    display: inline-block;
    padding: .5em .6em;
    width: 33.3%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-right: 5px solid var(--color-text);
}

.quick-links-wrapper li:hover{
    background-color: var(--color-red);
}

.interface{
    background-color: var(--color-grey);
    background-image: url("/src/Assets/Dots\ 8px.png");
    height: 40rem;
    border-bottom: 4px solid var(--color-text);
}

.recent-article{
    display: none;
    margin: auto;
    /* border: solid 2px; */
    /* border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%; */
    /* background-color: var(--color-grey); */
}

.list-container{
    /* width: 95%; */
    /* margin: 30px auto; */
    /* padding: 0 3em; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
}
.article-card{
    /* display: flex; */
    position: relative;

}
.article-card div:nth-child(1){
    color: var(--color-grey);
    font-size: 1.4em;
    font-weight: 100;
    letter-spacing: 2px;
    background: transparent;
    line-height: 36px;
    position: absolute;
    top: -.2em;
}
.article-card div:nth-child(2){
    margin-left: 2.1em;
    font-size: 1.1em;
    letter-spacing: 1px;
    
}
.article-card div:nth-child(2) a{
    word-wrap:break-word;
}
@media (max-width: 551.98px){ 
    .recent-article{
        width: 90%;
    }

    .article-card{
        /* min-height: 60px; */
        max-width: 100%;
        flex-basis: 100%;
        flex-grow: 0;
    }
}
 @media (min-width: 552px) and (max-width: 727.98px){
    .recent-article{
        width: 90%;
    }

    .article-card{
        min-height: 60px;
        max-width: 45%;
        flex-basis: 45%;
        flex-grow: 0;
    }
}

@media (min-width: 728px) and (max-width: 903.98px){
    .recent-article{
        width: 85%;
    }

    .article-card{
        min-height: 60px;
        max-width: 45%;
        flex-basis: 45%;
        flex-grow: 0;
    }
}

@media (min-width: 904px) and (max-width: 1079.98px){
    .recent-article{
        width: 78%;
    }
    .article-card{
        min-height: 60px;
        max-width: 45%;
        flex-basis: 45%;
        flex-grow: 0;
    }
}

@media (min-width: 1080px){
    .recent-article{
        width: 70%;
    }
    .article-card{
        min-height: 60px;
        max-width: 45%;
        flex-basis: 45%;
        flex-grow: 0;
    }
}