.recent-article p{
    letter-spacing: .2em;
    font-size: 1.6em;
    position: relative;
    margin-bottom: 1em;
    font-weight: bold;
}

.recent-article p::after{
    position: absolute;
    bottom: -20%;
    left: 0;

    content: "";
    width: 90%;
    height: 2px;
    background-color: black;

}

.list-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
}
.article-card{
    position: relative;

}
.article-card div:nth-child(1){
    color: var(--color-grey);
    font-size: 1.4em;
    font-weight: 100;
    letter-spacing: 2px;
    background: transparent;
    line-height: 36px;
    position: absolute;
    top: -.2em;
}
.article-card div:nth-child(2){
    margin-left: 2.1em;
    font-size: 1em;
    letter-spacing: 1px;
    
}
.article-card div:nth-child(2) a{
    word-wrap: break-word;
}