.card-container{
    padding: .4rem 0;
    min-height: 3em;
    /* border-bottom: solid 3px var(--color-text); */
}
.card-container h2 a{
    letter-spacing: 2px;
    margin: .5em 0;
    color: var(--color-text);
}


.abstract{
    margin: .5rem 0;
    font-weight: 100;
    font-size: .95em;
    color: #4a4848;
}

/* date */
.card-container span{
    color: var(--color-text);
    margin-right: 5px;
    font-weight: lighter;
    position: relative;
    top: .1rem;
}
