.service-intro{
    margin: 12rem auto;
    /* width: 70%; */
    /* border: 4px solid var(--color-text); */
    border-radius: var(--border-radius);
    text-align: center;
    overflow: hidden;
}

.service-intro h1{
    margin: 2rem 0 0 0;
    font-size: 2.5rem;
    margin: 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    line-height: 3rem;

}
.detail-wrapper{
    margin: 1rem auto;
    display: grid;
    width: 60%;
    /* justify-content: space-between; */
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 0 2rem;
}
.format-2{
    display: none;
}
.detail-wrapper img{
    /* icon */
    width: 4rem;
    justify-self: center;
}
.sub-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1.5rem 0;
}
.intro-detail{
    font-size: 1.2rem;
    letter-spacing: .1rem;
}
.service-interface{
    border-top: 4px solid var(--color-text);
    margin-top: 4rem;
}

/* ----------- service window -----------*/
.service-window{
    border-radius: var(--border-radius);
    width: 50%;
}
.service-header{
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.header-button{
    margin-left: 10%;
}

.service-content{
    text-align: center;
    margin: auto;
    width: 80%;
    padding: 1rem;
}
.service-content p{
    margin-bottom: 1.5rem;
}
.button-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
.button-wrapper button{
    margin: auto;
}

/* ----------- journey window -----------*/
.journey_window{
    width: 26rem;
}
.journey_content{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}
.time-line{
    display: flex;
    justify-content: space-around;
}
.time-line::after{
    z-index: 0;
    content: "";
    width: 70%;
    position: absolute;
    transform: translateY(.7rem);
    height: 3px;
    background-color: var(--color-text);
}
.journey-dot{
    cursor: pointer;
    height: 1.6rem;
    width: 1.6rem;
}
.dot-active{
    background-color: var(--color-text);
}
.step-detail{
    text-align: left;
    margin: 2rem;
}
.step-detail p{
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 1px;
}
.step-detail h2{
    margin: .5rem 0;
}
.step-detail img{
    width: 20rem;
    height: 14rem;
    object-fit: cover;
    object-position: 50% 60%;
    border: 4px solid var(--color-text);
    filter: grayscale(90%);
}
.step-detail span{
    display: block;
    margin: .5rem;
}
/* ----------- contact window -----------*/
.contact_content{
    text-align: center;
}
.contact_content h2{
    margin: 2rem;
}
.contact_content span{
    text-align: center;
}
@media (max-width:35em){
    .detail-wrapper{
        margin: 6rem auto;
        display: flex;
        flex-direction: column;
    }
    .format-1{
        display: none;
    }
    .sub-title{
        display: block;
    }
    .detail-wrapper img{
        margin: auto;
        margin-top: 3rem;
    }
    .service-window{
        width: 70%;
    }
    .service-header{
        height: 3rem;
    }
    .service-header span:last-child{
        display: none;
    }
    .journey_window{
        width: 80%;
    }
    .step-detail img{
        width: 100%;
        height: 8rem

    }
}