.post-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 2em;
    background-color: var(--color-bg);
}
.post-wrapper{
    width: 65%;
}
.post-list{
    display: flex;
    flex-direction: column;
}
.tag-menu{
    padding: 20px 0;
    /* border-bottom: solid 3px var(--color-text); */
}

.tag-menu span:nth-child(1){
    display: inline-block;
    padding: 1em 1em 0 0;
    transform: translateY(.2em);
    color: var(--color-red) ;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
}

.tag_title{
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 18px;
}
.tag_title span{ 
    margin-right: 8px;
    color: var(--color-text) ;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform:uppercase;
    margin-left: 5px;
}

.tag_icon{
    font-size: 30px;
    transform: translateY(15%);
}
@media (max-width:35em){
    .post-container{
        width: 90%;
        padding: 0;
    }
}