
p{
    font-size: 1.1em;
    line-height: 1.5em;
    letter-spacing: .03em;
    word-spacing: .1em;
}
.inlineCode{
    display: inline;
    padding: 0 4px;
    background-color: #f0f0f2;
    /* color: rgb(244, 128, 128); */
    color: var(--color-red);
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: .2em .2em .2em 0;
    color: white;
    border: 0.1em solid black;
    border-radius: 0.15em;
    transform: translateY(0.3em); 
    height: 1em;
    width: 1em;
    background-clip: content-box;
	padding: .12em;

}

input[type="checkbox"]:checked {
    background-color: var(--color-red);
}

code[class^="language-"]{
    word-spacing: .25em !important;
    letter-spacing: .1em;
}