.navbar{
    top: 0;
    display: flex;
    position: sticky;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: solid 1px ;
    font-weight: 600;
    font-family: var(--font-family);
    box-sizing: border-box;
}
/* .navbar a:hover{
    color: var(--color-red);
    transition-duration: 500ms;
} */
.navbar-name{
    font-size: 20px;
    margin-left: 10px;
}


.navbar-menu-links{
    font-size: 15px;
    width: 15%;
    display: flex;
    justify-content: space-around;
}