.navbar-menu{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px;
    border-bottom: solid 1px;
}

.navbar-menu-name{
    font-size: 20px;
}

.navbar-menu-links{
    width: 15%;
    display: flex;
    justify-content: space-around;
}