.navbar-menu{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.navbar-menu-name{
    font-size: 20px;
}

.navbar-menu-links{
    width: 15%;
    display: flex;
    justify-content: space-between;
}