@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,400;0,6..12,600;1,6..12,400&display=swap');

:root{
  --font-family:'Nunito Sans', sans-serif;
  /* --font-family:'M PLUS Rounded 1c', sans-serif; */

  --color-bg:#FFFAF8;
  --color-text:#2f2f2e;
  --color-red: #BC3E2F;
  --color-grey: rgba(210, 209, 209, 1);

  --border-radius: 20px;
}