@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Nunito+Sans:ital,wght@0,200;0,400;0,600;1,200&display=swap');

:root{
  --font-family:'Nunito Sans', sans-serif;
  /* --font-family:'M PLUS Rounded 1c', sans-serif; */

  --color-bg:rgb(247, 245, 245);
  --color-text:#2f2f2e;
  --color-red: rgba(245, 119, 91, 1);
  --color-grey: rgba(210, 209, 209, 1);

  --border-radius: 20px;
}