@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Reenie+Beanie&family=Titillium+Web:wght@200;400;700&display=swap');

:root{
  --font-family:'Nunito Sans', sans-serif;
  /* --font-family:'M PLUS Rounded 1c', sans-serif; */

  --color-bg:rgba(247, 239, 236, 1);
  --color-text:#2f2f2e;
  --color-red: rgba(245, 119, 91, 1);
  --color-grey: rgba(210, 209, 209, 1);

  --border-radius: 20px;
}